tags:
  adoption-ccd-stack: false
  ccd-idam-pr: false

spring:
  main:
    allow-bean-definition-overriding: true

java:
  image: hmctspublic.azurecr.io/adoption/backend:latest
  applicationPort: 4550
  ingressHost: adoption-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: adoption
  environment:
    IDAM_CLIENT_ID: adoption
    IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-aat.service.core-compute-aat.internal
    IDAM_CLIENT_REDIRECT_URI: https://adoption.aat.platform.hmcts.net/oauth2/callback
    SPRING_SECURITY_ENABLED: true
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: https://idam-api.aat.platform.hmcts.net/o/jwks
  keyVaults:
    adoption:
      resourceGroup: adoption
      secrets:
        - AppInsightsInstrumentationKey
        - adoption-idam-client-secret
